<div class="banner" style="background-image: url(<%= @flat.picture_url %>)" >
</div>

<div class="container margin-top-negative">


  <div class="flat-show-card">
    <%= @flat.name %>
    <%= @flat.address %>
  </div>

  <div class="flat-show-card">
    <%= @flat.description %>
  </div>
</div>
